################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Bank/obj
/BankTests/obj
/packages
/TestResults
/BankTests/bin/Debug
/Bank/bin/Debug
